<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinHabits | Finanzas</title>
    <link rel="stylesheet" href="../../Public/Css/Index.css">
    <link rel="stylesheet" href="../../Public/Css/finanzas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="../../public/Img/logo1.png ">
                <span>FinHabits</span>
            </div>
            <ul class="nav__menu">
                <li class="nav__item">
                    <a href="../../home.html" class="nav__link">Hogar</a>
                </li>
                <li class="nav__item">
                    <a href="finanzas.html" class="nav__link">Finanzas</a>
                </li>
                <li class="nav__item">
                    <a href="Noticias.html" class="nav__link">Noticias</a>
                </li>
                <li class="nav__item">
                    <a href="Ayuda.html" class="nav__link">Ayuda</a>
                </li>
                <li class="nav__item">
                    <a href="Nosotros.html" class="nav__link">Nosotros</a>
                </li>
                <li class="nav__item">
                    <a href="#search" class="nav__link nav__link--busqueda">Buscar</a>
                </li>
                <li class="nav__item">
                    <a href="Inicio_Sesion.html" class="nav__link nav__link--login">Inicio Sesión</a>
                </li>
                <li class="nav__item">
                    <a href="Registro.html" class="nav__link nav__link--register">Regístrate</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="hero-section" id="home">
            <h1 class="hero-title">Finanzas</h1>
            <p class="hero-subtitle">Todo lo que necesitas saber para tomar decisiones financieras inteligentes.</p>
        </section>
        <section class="interactive-card">
            <div class="services-grid">
                <div class="service-card" >
                    <h3>COMIENZA YA</h3>
                    <p>Mejora tus Finanzas</p>
                </div>

                <div class="service-card" >
                    <h3>VE POR TUS METAS</h3>
                    <p>Alcanza tus Sueños</p>
                </div>
            </div>
        </section>
    </main>
<section class="seccion-2">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Finanzas Personales</h1>
                
                <div class="content-container">
                    <section class="texto-secciones1">
                        <p class="hero-subtitle">
                            Las finanzas personales se refieren a la gestión que una persona hace de su dinero, incluyendo cómo lo gana, gasta, ahorra, invierte y protege. Implican tomar decisiones responsables para lograr estabilidad económica y alcanzar metas como comprar una casa, viajar o jubilarse cómodamente. Una buena administración financiera personal permite tener control sobre el dinero y evitar problemas económicos.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones1">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_1.png" alt="Finanzas Personales">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>
<section class="seccion-3">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Creditos y Deudas</h1>
                
                <div class="content-container">
                    <section class="texto-secciones2">
                        <p class="hero-subtitle">
                            Los créditos y las deudas son parte fundamental de las finanzas. El crédito es la posibilidad de acceder a dinero prestado, generalmente ofrecido por bancos o instituciones financieras, con la promesa de devolverlo en el futuro con intereses. La deuda es la obligación que se contrae al usar ese crédito. Saber manejar bien los créditos y pagar las deudas a tiempo es clave para mantener una buena salud financiera y un historial crediticio favorable.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones2">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_2.jpg" alt="Creditos y Deudas">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>
    <section class="seccion-4">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Inversiones</h1>
                
                <div class="content-container">
                    <section class="texto-secciones1">
                        <p class="hero-subtitle">
                            Las inversiones consisten en destinar una parte del dinero a instrumentos o proyectos con la esperanza de obtener una ganancia futura. Invertir implica riesgos, pero también puede generar mayores rendimientos que simplemente ahorrar. Existen muchas formas de inversión, como acciones, bienes raíces, fondos, criptomonedas, entre otros, y elegir la más adecuada depende de los objetivos financieros, el plazo y la tolerancia al riesgo de cada persona.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones1">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_3.jpg" alt="Inversiones">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>
<section class="seccion-5">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Finanzas Familiares</h1>
                
                <div class="content-container">
                    <section class="texto-secciones2">
                        <p class="hero-subtitle">
                            Las finanzas familiares son la planificación y administración del dinero dentro del núcleo familiar. Involucran a todos los miembros del hogar y buscan cubrir necesidades básicas, cumplir objetivos comunes y garantizar un futuro financiero estable. Esto incluye el control de ingresos y gastos, el ahorro, el manejo de deudas y la preparación para imprevistos o grandes inversiones, como la educación de los hijos o la compra de una vivienda.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones2">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_4.png" alt="Finanzas Personales">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>
    <section class="seccion-6">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Educacion Financiera</h1>
                
                <div class="content-container">
                    <section class="texto-secciones1">
                        <p class="hero-subtitle">
                            La educación financiera es el conocimiento y comprensión de conceptos y herramientas básicas sobre el manejo del dinero. Es fundamental para tomar decisiones acertadas sobre ahorro, gasto, crédito, inversión y planificación. Tener una buena educación financiera permite a las personas evitar errores comunes, prevenir el sobreendeudamiento y construir un futuro económico sólido con mayor autonomía.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones1">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_5.jpg" alt="Edicacion Financiera">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>
    <section class="seccion-7">
        <main class="main-content">
            <section class="hero-section" id="home">
                <h1 class="hero-title">Impuestos y Obigaciones Legales</h1>
                
                <div class="content-container">
                    <section class="texto-secciones2">
                        <p class="hero-subtitle">
                            Los impuestos son pagos obligatorios que los ciudadanos y las empresas deben hacer al Estado. Estos recursos financian servicios públicos como salud, educación, seguridad, infraestructura y programas sociales. Existen distintos tipos de impuestos según la actividad económica, los ingresos, el consumo o la propiedad, y cumplir con ellos es una obligación legal que impacta directamente en el presupuesto personal y familiar.
                        </p>
                    </section>
                    
                    <section class="imagen-secciones2">
                        <div class="image-container">
    <img src="../../Public/Img/Finanzas_6.jpg" alt="Impuestos y Obligaciones Legales">
</div>
                    </section>
                </div>
            </section>
        </main>
    </section>

    <footer class="footer">
                <div class="footer-container">
                    <div class="footer-top">
                        <div class="footer-section">
                            <h3>Nosotros</h3>
                            <ul>
                                <li><a href="#">Empresa</a></li>
                                <li><a href="#">Noticias</a></li>
                                <li><a href="#">Impacto y Testimonios</a></li>
                                <li><a href="#">Trabaja con Nosotros</a></li>
                            </ul>
                        </div>
                        <div class="footer-section">
                            <h3>Ayuda</h3>
                            <ul>
                                <li><a href="#">Centro de Ayuda</a></li>
                                <li><a href="#">Comentarios</a></li>
                                <li><a href="#">Soporte Tecnico</a></li>
                                <li><a href="#">Recomendaciones</a></li>
                            </ul>
                        </div>
        
                        <div class="footer-section">
                            <h3>Comienza</h3>
                            <ul>
                                <li><a href="#">Calculadora Financiera</a></li>
                                <li><a href="#">Historial Financiero</a></li>
                                <li><a href="#">Analisis y Graficos</a></li>
                                <li><a href="#">Metas Financieras</a></li>
                            </ul>
                        </div>
        
                        <div class="footer-section social-section">
                            <h3>Siguenos</h3>
                            <div class="social-icons">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fa-solid fa-x"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="footer-bottom">
                        <div class="footer-legal">
                            <a href="#">Política de Privacidad</a>
                            <a href="#">Términos de Servicio</a>
                            <a href="#">Código de Conducta</a>
                            <a href="#">Soporte</a>
                        </div>
        
                        <div class="copyright">
                            © 2025 Finhabits. Todos los derechos reservados.
                        </div>
                    </div>
                </div>
    </footer>
    <script src="publico/Js/index.js"></script>
</body>
</html>