<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinHabits | Noticias</title>
    <link rel="stylesheet" href="../../Public/Css/noticias.css">
    <link rel="stylesheet" href="../../Public/Css/Index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="../../Public/Img/logo1.png ">
                <span>FinHabits</span>
            </div>
            <ul class="nav__menu">
                <li class="nav__item">
                    <a href="../../home.html" class="nav__link">Hogar</a>
                </li>
                <li class="nav__item">
                    <a href="./finanzas.html" class="nav__link">Finanzas</a>
                </li>
                <li class="nav__item">
                    <a href="./Noticias.html" class="nav__link">Noticias</a>
                </li>
                <li class="nav__item">
                    <a href="./Ayuda.html" class="nav__link">Ayuda</a>
                </li>
                <li class="nav__item">
                    <a href="./Nosotros.html" class="nav__link">Nosotros</a>
                </li>
                <li class="nav__item">
                    <a href="#search" class="nav__link nav__link">Buscar</a>
                </li>
                <li class="nav__item">
                    <a href="./Inicio_Sesion.php" class="nav__link nav__link--login">Inicio Sesión</a>
                </li>
                <li class="nav__item">
                    <a href="./Registro.html" class="nav__link nav__link--register">Regístrate</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="hero-section" id="home">
            <h1 class="hero-title">Noticias</h1>
            <p class="hero-subtitle">Entérate de los cambios que afectan tus finanzas</p>
        </section>
        <section class="interactive-card">
            <div class="services-grid">
                <div class="service-card" >
                    <h3>COMIENZA YA</h3>
                    <p>Mejora tus Finanzas</p>
                </div>

                <div class="service-card" >
                    <h3>VE POR TUS METAS</h3>
                    <p>Alcanza tus Sueños</p>
                </div>
            </div>
        </section>
    </main>
<section class="seccion-2">
    <main class="main-content">
            <section class="hero-section" id="home">
            <div class="news-grid">
                <article class="news-card">
                    <div class="news-image" style="background-image: url('');"></div>
                    <div class="news-content">
                        <h3 class="news-title">🇨🇴 S&P y Moody’s rebajan la calificación crediticia de Colombia</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Reuters</div>
                                <div class="news-date">27 de junio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            La Cámara de Representantes aprobó nuevamente la reforma pensional respaldada por el presidente Petro. La medida fortalece el fondo público Colpensiones, amplía la cobertura y reduce semanas requeridas para las mujeres, beneficiando a unos 2,6 millones de personas, aunque aún requiere respaldo de la Corte Constitucional.
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
                <article class="news-card">
                    <div class="news-image" style="background-image: url('https://radionacional-v3.s3.amazonaws.com/s3fs-public/styles/portadas_relaciona_4_3/public/node/article/field_image/camara%20de%20representantes_1.jpg?h=b69e0e0e&itok=Fu44XIqH');"></div>
                    <div class="news-content">
                        <h3 class="news-title">Reforma pensional aprobada en Cámara tras revisión judicial</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Reuters</div>
                                <div class="news-date">29 de junio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            La Cámara de Representantes aprobó nuevamente la reforma pensional respaldada por el presidente Petro. La medida fortalece el fondo público Colpensiones, amplía la cobertura y reduce semanas requeridas para las mujeres, beneficiando a unos 2,6 millones de personas, aunque aún requiere respaldo de la Corte Constitucional.
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
                <article class="news-card">
                    <div class="news-image" style="background-image: url('https://images.squarespace-cdn.com/content/v1/63e6c0a6a2468a487632aa92/1748033373787-7UKPZIU5YUX0HQ8N3MK5/job-5382501_1280+%281%29.jpg');"></div>
                    <div class="news-content">
                        <h3 class="news-title">Reducción de la jornada laboral a 44 horas a partir del 16 de julio</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Tropicana FM</div>
                                <div class="news-date">05 de julio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            Según la Ley 2101 de 2021, la jornada laboral en Colombia se reducirá a 44 horas semanales desde el 16 de julio, en su penúltima fase hacia 42 horas. Además, se ajustan los recargos nocturnos y dominicales, con sanciones proporcionales para los empleadores que incumplan.
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
                <article class="news-card">
                    <div class="news-image" style="background-image: url('');"></div>
                    <div class="news-content">
                        <h3 class="news-title">Ventas de vehículos nuevos crecen 23,6% en mayo.</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Reuters</div>
                                <div class="news-date">01 de julio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            En mayo de 2025, las ventas de vehículos nuevos aumentaron un 23,6 % interanual, alcanzando 17.978 unidades. El acumulado de enero a mayo refleja un crecimiento del 23,2 %, lo que indica una reactivación del consumo interno pese a una economía moderada (1,6 % en 2024).
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
                <article class="news-card">
                    <div class="news-image" style="background-image: url('');"></div>
                    <div class="news-content">
                        <h3 class="news-title">Pagos del programa Colombia Mayor inician el 4 de julio</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Tropicana FM</div>
                                <div class="news-date">04 de julio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            El ciclo de pagos del programa social Colombia Mayor comenzó el 4 de julio, beneficiando a cerca de 1,68 millones de adultos mayores. Los mayores (más de 80 años) recibirán 225.000 COP, y los menores de esa edad, 80.000 COP. En Bogotá se otorgará un adicional regional de 70.000 COP .
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
                <article class="news-card">
                    <div class="news-image" style="background-image: url('');"></div>
                    <div class="news-content">
                        <h3 class="news-title">Marco Fiscal plantea déficit del 7,1% del PIB y reforma tributaria</h3>
                        <div class="news-meta">
                            <div class="author-info">
                                <div class="author-name">por Reuters</div>
                                <div class="news-date">13 de junio de 2025</div>
                            </div>
                        </div>
                        <p class="news-description">
                            Según el Marco Fiscal de Mediano Plazo, Colombia revisará el déficit al 7,1 % del PIB para 2025 (desde 5,1 %), usando la cláusula de escape de la regla fiscal. Además, se planea una reforma tributaria que busca recaudar unos 19 billones COP para estabilizar las cuentas públicas.
                        </p>
                        <a href="#" class="read-more">Leer más</a>
                    </div>
                </article>
            </div>
            
        </section>
    </main>
</section>

    <footer class="footer">
                <div class="footer-container">
                    <div class="footer-top">
                        <div class="footer-section">
                            <h3>Nosotros</h3>
                            <ul>
                                <li><a href="#">Empresa</a></li>
                                <li><a href="#">Noticias</a></li>
                                <li><a href="#">Impacto y Testimonios</a></li>
                                <li><a href="#">Trabaja con Nosotros</a></li>
                            </ul>
                        </div>
                        <div class="footer-section">
                            <h3>Ayuda</h3>
                            <ul>
                                <li><a href="#">Centro de Ayuda</a></li>
                                <li><a href="#">Comentarios</a></li>
                                <li><a href="#">Soporte Tecnico</a></li>
                                <li><a href="#">Recomendaciones</a></li>
                            </ul>
                        </div>
        
                        <div class="footer-section">
                            <h3>Comienza</h3>
                            <ul>
                                <li><a href="#">Calculadora Financiera</a></li>
                                <li><a href="#">Historial Financiero</a></li>
                                <li><a href="#">Analisis y Graficos</a></li>
                                <li><a href="#">Metas Financieras</a></li>
                            </ul>
                        </div>
        
                        <div class="footer-section social-section">
                            <h3>Siguenos</h3>
                            <div class="social-icons">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fa-solid fa-x"></i></a>
                                <a href="#" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="footer-bottom">
                        <div class="footer-legal">
                            <a href="#">Política de Privacidad</a>
                            <a href="#">Términos de Servicio</a>
                            <a href="#">Código de Conducta</a>
                            <a href="#">Soporte</a>
                        </div>
        
                        <div class="copyright">
                            © 2025 Finhabits. Todos los derechos reservados.
                        </div>
                    </div>
                </div>
    </footer>
    <script src="publico/Js/index.js"></script>
</body>
</html>